<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @panel.number %>
</p>

<table>
  <% 1.upto(@panel.height) do |y| %>
  <tr>
  <% 1.upto(@panel.width) do |x| %>
  <td id="<%= loc_id(x, y) %>"><a href="/foo/bar.pdf">bar.pdf</a></td>
  <% end %>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_panel_path(@panel) %> |
<%= link_to 'Back', panels_path %>
