<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @panel.number %>
</p>

<table>
  <% @panel.anns(array: true).each_with_index do |anns, y0| %>
  <tr>
    <% anns.each_with_index do |ann, x0| %>
    <td id="<%= loc_id(x0+1, y0+1) %>"><%= link_to(ann.procedure.filename, ann.procedure.path) unless ann.nil? %></td>
    <% end %>
  </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_panel_path(@panel) %> |
<%= link_to 'Back', panels_path %>
