<%= form_for(@ann) do |f| %>
  <% if @ann.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ann.errors.count, "error") %> prohibited this ann from being saved:</h2>

      <ul>
      <% @ann.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:ann_name) %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:proc_path) %><br>
    <%= f.text_field :pdf %>
  </div>
  <div class="field">
    <%= f.label :panel, t(:panel_number) %><br>
    <%= f.text_field :panel %>
  </div>
  <div class="field">
    <%= f.label :window, t(:window_number) %><br>
    <%= f.text_field :window %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
