<h1><%= t(:listing_ann) %></h1>

<table>
  <thead>
    <tr>
      <th><%= Ann.human_attribute_name(:name) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @anns.each do |ann| %>
      <tr>
        <% if ann.proc_path.nil? %>
        <td><%= ann.name %></td>
        <% else %>
        <td><%= link_to ann.name, "#{ann.proc_path}" %></td>
        <% end %>        
        <td><%= link_to t(:show), ann %></td>
        <td><%= link_to t(:edit), edit_ann_path(ann) %></td>
        <td><%= link_to t(:destroy), ann, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_ann), new_ann_path %>
