<p id="notice"><%= notice %></p>

<p>
  <strong><%= Ann.human_attribute_name(:name) %>: </strong>
  <%= @ann.name %>
</p>

<p id="ann_procedure">
  <strong><%= t(:ann_procedure) %>: </strong>
  <% if @ann.procedure %>
  <%= link_to @ann.procedure.path.sub(%r|.*/|, ''), @ann.procedure.path %>
  <% else %>
  (未設定)
  <% end %>
</p>

<p id="ann_panel">
  <strong><%= t(:panel_number) %>: </strong>
  <% if @panel %>
  <%= link_to @panel.number, panel_path(@panel) %>
  <% else %>
  (未設定)
  <% end %>
</p>

<p id="ann_panel_location">
  <strong><%= t(:panel_location) %>: </strong>
  <%= @ann.location or "(未設定)" %>
</p>

<p>
  <div id="ann_procedures">
    <strong><%= t(:procedures) %>: </strong>
    <% unless @ann.procedures.empty? %>
    <table>
      <tr>
        <th>改訂番号</th>
        <th>改訂日</th>
        <th>手順書ファイルへのリンク</th>
      </tr>
      <%= render partial: "procedure", collection: @ann.procedures.sort.reverse %>
    </table>
    <% else %>
    "手順書はありませんよ"
    <% end %>
  </div>
</p>

<%= link_to t(:edit), edit_ann_path(@ann) %> |
<%= link_to t(:back), anns_path %>
