<p id="notice"><%= notice %></p>

<p>
  <strong><%= Ann.human_attribute_name(:name) %>: </strong>
  <%= @ann.name %>
</p>

<p id="ann_procedure">
  <strong><%= t(:ann_procedure) %>: </strong>
  <% if @ann.procedure %>
  <%= link_to @ann.procedure.path.sub(%r|.*/|, ''), @ann.procedure.path %>
  <% else %>
  (未設定)
  <% end %>
</p>

<p id="ann_panel">
  <strong><%= t(:panel_number) %>: </strong>
  <% if @panel %>
  <%= link_to @panel.number, panel_path(@panel) %>
  <% else %>
  (未設定)
  <% end %>
</p>

<p id="ann_panel_location">
  <strong><%= t(:panel_location) %>: </strong>
  <%= @ann.location or "(未設定)" %>
</p>

<%= link_to t(:edit), edit_ann_path(@ann) %> |
<%= link_to t(:back), anns_path %>
