<p id="notice"><%= notice %></p>

<p>
  <strong><%= Ann.human_attribute_name(:name) %>: </strong>
  <%= @ann.name %>
</p>

<p>
  <strong><%= Ann.human_attribute_name(:proc_path) %>: </strong>
  <%= @ann.pdf %>
</p>

<p id="ann_panel"><strong><%= t(:panel_number) %>: </strong><%= @ann.panel or "(未設定)" %></p>
<p id="ann_window"><strong><%= t(:window_number) %>: </strong><%= @ann.window or "(未設定)" %></p>

<%= link_to t(:edit), edit_ann_path(@ann) %> |
<%= link_to t(:back), anns_path %>
