<h1><%= t(:search_result) %></h1>
<h2><%= "検索キーワード: #{@search.keywords}" %></h2>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><%= Ann.human_attribute_name(:name) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @anns.each do |ann| %>
      <tr>
        <% if ann.procedure %>
        <td><%= link_to ann.name, "#{ann.procedure.path}" %></td>
        <% else %>
        <td><%= ann.name %></td>
        <% end %>        
        <td><%= link_to t(:show), ann %></td>
        <td><%= link_to t(:edit), edit_ann_path(ann) %></td>
        <td><%= link_to t(:destroy), ann, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', panels_path %>
