<h1><%= t(:listing_procedures) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:proc_path) %></th>
      <th><%= t(:ann_name) %></th>
      <th><%= t(:revision_number) %></th>
      <th><%= t(:revised_on) %></th>
      <th><%= t(:prev_revision) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @procedures.each do |procedure| %>
      <tr>
        <td><%= procedure.path %></td>
        <td><%= procedure.ann_id %></td>
        <td><%= procedure.revision %></td>
        <td><%= procedure.revised_on %></td>
        <td><%= procedure.prev_revision_id %></td>
        <td><%= link_to t(:show), procedure %></td>
        <td><%= link_to t(:edit), edit_procedure_path(procedure) %></td>
        <td><%= link_to t(:destroy), procedure, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_procedure), new_procedure_path %>
