<h1><%= t(:listing_procedures) %></h1>

<table>
  <thead>
    <tr>
      <th><%= t(:ann_name) %></th>
      <th><%= t(:revision) %></th>
      <th><%= t(:revised_on) %></th>
      <th><%= t(:proc_path) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @procedures.each do |procedure| %>
      <tr>
        <td><%= procedure.ann ? procedure.ann.name : t("no_ann_assigned") %></td>
        <td><%= procedure.revision %></td>
        <td><%= procedure.revised_on ? procedure.revised_on.to_date : t(:not_assigned) %></td>
        <td><%= procedure.path.blank? ? t("no_path_for_procedure") : procedure.path.sub(%r|.*/|, "") %></td>
        <td><%= link_to t(:show), procedure %></td>
        <td><%= link_to t(:edit), edit_procedure_path(procedure) %></td>
        <td><%= link_to t(:destroy), procedure, method: :delete, data: { confirm: t(:are_you_sure) } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t(:new_procedure), new_procedure_path %>
