<h1><%=t :new_procedure %></h1>

<% if @ann %>
<p id="ann_name">
  <strong><%= Ann.human_attribute_name(:name) %>: </strong>
  <%= @ann.name %>
</p>
<% end %>
  
<%= render 'form' %>

<% if @ann %>
<p id="prev_revision">
  <strong>登録済み手順書の最新改定番号: </strong>
  <%= @ann.procedure.nil? ? "(手順書なし)" : @ann.procedure.revision %></p>
<% end %>

<%= link_to 'Back', procedures_path %>
