<p id="notice"><%= notice %></p>

<p id="ann_name">
  <strong><%=t :ann_name %>: </strong>
  <%= @ann ? @ann.name : t(:no_ann_assigned) %>
</p>

<p id="revision">
  <strong><%=t :revision_number%>: </strong>
  <%= @procedure.revision %>
</p>

<p id="revised_on">
  <strong><%=t :revised_on %>: </strong>
  <%= @procedure.revised_on ? @procedure.revised_on.to_date : t(:not_assigned) %>
</p>

<p id="path">
  <strong><%=t :proc_path %>: </strong>
  <%= @procedure.path.blank? ? t(:no_ann_assigned) : link_to(@procedure.filename, @procedure.path) %>
</p>

<% if @ann %>
<%= link_to t(:editing_ann), edit_ann_path(@ann) %> |
<% end %>
<%= link_to t(:edit), edit_procedure_path(@procedure) %> |
<%= link_to t(:back), procedures_path %>
