<!DOCTYPE html>
<html>
  <head>
    <title>Proc Viewer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="search_field">
      <%= form_for :search, url: user_searches_path(1) do |f| %>
      検索: <%= f.text_field :keywords %>
      <% end %>
    </div>

    <div id="clearer">
    </div>

    <%= yield %>

  </body>
</html>
